<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap"
        rel="stylesheet">
</head>

<body id="top">

    <header class="center h1 decoration">
        <h1> Mon CV</h1>
    </header>
    <section class="containerBodyLeft">
        <div class="photo">
            <img src="photo.jpg" alt="PhotoCV" width="80" height="80">
        </div>
        <article>
            <h3> Qui suis-je?</h3>
            <p>Diplomée d'un Master en génie civil option Voirie et Réseaux Divers, Actuellement en reconversion
                professionnelle dans le numérique

            </p>
        </article>
        
        <article>
            <h3 >Informations de contact </h3>
            <ul>
                <li>Nom: </li>
                <li>Adresse:</li>
                <li>E-mail:</li>
            </ul>
        </article>
        <article>
            <h3 class="h3">Expériences professionnelles</h3>
            <h4>Mars 2022 - Reconversion professionnelle en Informatique</h4>
            <p>Mai 2022 - Juin 2022 : Nurserie Numérique</p>
            <h4>Septembre 2019 - Mars2022 : Chargée d'Etudes de prix </h4>
            <h5>Société RAMERY RESEAUX - Lille Métropole</h5>
        </article>
        <article>
            <h3>Formations</h3>
        </article>
        <article>
            <h3>Compétences</h3>
            <h5>Professionnelles</h5>
            <p>HTML:</p>
            <div class="container">
                <div class="skills html">30%</div>
            </div>
    
            <h5>Personnelles</h5>
            <h6>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </h6>

        </article>
        <article>

            <h3>Centres d'interets</h3>
            <div class="centreDinteret">
                <div> <img src="contact.png" alt="contact" width="40" height="40">
                    <figcaption>Lecture</figcaption>
                </div>

                <div> <img src="tennis.png" alt="contact" width="40" height="40">
                    <figcaption>Sport</figcaption>
                </div>
                <div> <img src="musique.png" alt="contact" width="40" height="40">
                    <figcaption>Musique</figcaption>
                </div>
            </div>
        </article>



    </section>

    <footer class="footer">


        <a href="#top"> Retour en haut de page</a>

        <a href="mailto: contact@gmail.com">Contactez moi!</a>


    </footer>
</body>

</html>